BRIGHTDATA_API_TOKEN=replace-with-token
BRIGHTDATA_DATASET_ID=gd_lwxkxvnf1cynvib9co
BRIGHTDATA_PROFILE_URLS=https://x.com/username1,https://x.com/username2
BRIGHTDATA_TRIGGER_ENDPOINT=https://api.brightdata.com/datasets/v3/scrape?dataset_id=gd_lwxkxvnf1cynvib9co&notify=false&include_errors=true&type=discover_new&discover_by=profile_url_most_recent_posts
BRIGHTDATA_DISCOVERY_TYPE=profile_url_most_recent_posts
