BRIGHTDATA_API_TOKEN=replace-with-token
BRIGHTDATA_DATASET_ID=gd_lwxkxvnf1cynvib9co
BRIGHTDATA_PROFILE_URLS=https://x.com/username1,https://x.com/username2
BRIGHTDATA_TRIGGER_ENDPOINT=https://api.brightdata.com/datasets/v3/trigger
BRIGHTDATA_DOWNLOAD_ENDPOINT=https://api.brightdata.com/datasets/v3/snapshots/{snapshot_id}/download
BRIGHTDATA_TIMEOUT_MS=420000
BRIGHTDATA_POLL_INTERVAL_MS=10000
